In [70]:
# Import Libraries
from pathlib import Path
import pandas as pd
import datetime

# Step 1: Import the csv's into DataFrames

In [71]:
# identify path to raw data
csvpath_v10 = Path('./raw_data/vehicles_v10.csv')
csvpath_v9 = Path('./raw_data/vehicles_v9.csv')
csvpath_v7 = Path('./raw_data/vehicles_v7.csv')
csvpath_v6 = Path('./raw_data/vehicles_v6.csv')
csvpath_v5 = Path('./raw_data/vehicles_v5.csv')

In [72]:
# load datasets into DataFrames
vehicles_v10_df = pd.read_csv(csvpath_v10)
vehicles_v9_df = pd.read_csv(csvpath_v9)
vehicles_v7_df = pd.read_csv(csvpath_v7)
vehicles_v6_df = pd.read_csv(csvpath_v6)
vehicles_v5_df = pd.read_csv(csvpath_v5)

In [73]:
# oldest dataset

# create 'uid' column based on parse of 'url' column
vehicles_v5_df['uid'] = vehicles_v5_df['url'].apply(lambda x: x.split('.html')[0][-10:])

# drop: url/image_url
vehicles_v5_df.drop(columns='url',inplace=True)
vehicles_v5_df.drop(columns='image_url',inplace=True)

# set 'uid' as index
vehicles_v5_df.set_index('uid')

,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,transmission,VIN,drive,size,type,paint_color,lat,long
uid,,,,,,,,,,,,,,,,,,
6736984460,tricities,5000,1978.0,ford,bronco,NaN,NaN,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,NaN,37.132840,-95.785580
6716121500,tricities,5000,2008.0,buick,lucerne cxl v6,like new,6 cylinders,gas,51000.0,clean,automatic,NaN,fwd,full-size,sedan,grey,35.777999,-83.612533
6731405764,tricities,13500,2006.0,NaN,Pont GTO,excellent,8 cylinders,gas,93000.0,clean,automatic,NaN,rwd,mid-size,coupe,red,36.333900,-82.340800
6736958987,tricities,6200,2006.0,mercedes-benz,NaN,NaN,NaN,gas,NaN,rebuilt,automatic,NaN,NaN,NaN,NaN,NaN,36.000092,-84.018302
6736964819,tricities,37900,2016.0,ford,f350,excellent,8 cylinders,diesel,70500.0,clean,automatic,NaN,4wd,NaN,truck,white,36.272932,-82.537537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6750269993,anchorage,14050,2007.0,dodge,caravan (braun ramp),excellent,NaN,gas,NaN,clean,automatic,1D4GP24R17B104268,fwd,mid-size,mini-van,green,61.288605,-148.894406
6750186300,anchorage,3299,2005.0,gmc,g1500,NaN,NaN,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,NaN,61.592300,-149.395900
6741805162,anchorage,9500,2016.0,kia,rio lx,like new,4 cylinders,gas,3180.0,clean,automatic,KNADM4A30G6686,fwd,mid-size,sedan,blue,61.190000,-149.893800
6750016563,anchorage,8499,2014.0,ford,mustang,fair,6 cylinders,gas,NaN,clean,manual,NaN,rwd,full-size,coupe,black,61.630300,-148.987200
6748933774,anchorage,3900,2001.0,subaru,forester,good,4 cylinders,gas,115000.0,rebuilt,manual,NaN,4wd,mid-size,NaN,silver,61.546300,-149.590100

In [74]:
# (2nd oldest) version 6 dataset

# create 'uid' column based on parse of 'url' column
vehicles_v6_df['uid'] = vehicles_v6_df['url'].apply(lambda x: x.split('.html')[0][-10:])

# drop: url/city_url/image_url
vehicles_v6_df.drop(columns='url',inplace=True)
vehicles_v6_df.drop(columns='city_url',inplace=True)
vehicles_v6_df.drop(columns='image_url',inplace=True)

# set 'uid' as index
vehicles_v6_df.set_index('uid')

,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,transmission,VIN,drive,size,type,paint_color,desc,lat,long
uid,,,,,,,,,,,,,,,,,,,
6904944887,albuquerque,1500,2005.0,hyundai,elantra,good,4 cylinders,gas,256000.0,clean,automatic,NaN,fwd,mid-size,sedan,blue,Selling a 2005 Hyundai Elantra 2.0 4 cylinder....,35.156142,-106.656501
6904936037,albuquerque,10000,2010.0,bmw,535xi,good,6 cylinders,gas,NaN,clean,automatic,NaN,NaN,NaN,sedan,white,"2010 BMW 535xi\nAll wheel drive \n120,000\nCle...",35.151887,-106.708317
6904932048,albuquerque,2000,2005.0,toyota,tacoma,NaN,NaN,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,NaN,Contact at amandafiorello(at)hotmail.com\n\n \...,35.058537,-106.877873
6904926976,albuquerque,2300,1971.0,ford,NaN,fair,8 cylinders,gas,NaN,clean,automatic,NaN,rwd,NaN,NaN,NaN,CLASSIC FORD NEEDS A HOME. SERIOUS BUYERS ONLY...,35.249300,-106.681800
6904923564,albuquerque,2000,1998.0,toyota,camry,good,6 cylinders,gas,236300.0,clean,automatic,NaN,NaN,compact,NaN,NaN,Good running car. Great on gas. It has a sunro...,35.058537,-106.877873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6882690167,zanesville / cambridge,11750,2014.0,ford,escape,excellent,4 cylinders,gas,83130.0,clean,automatic,1FMCU9GX4EUC06202,4wd,full-size,SUV,white,"2014 Ford Escape SE 4WD - $11,750\n\nYear: 201...",39.972619,-82.010975
6882690114,zanesville / cambridge,20990,2013.0,ram,1500,excellent,8 cylinders,gas,44766.0,clean,automatic,1C6RR7FT7DS662652,4wd,full-size,truck,white,"2013 RAM 1500 Tradesman Quad Cab 4WD - $20,990...",39.972619,-82.010975
6882504783,zanesville / cambridge,4850,2008.0,buick,lacrosse cx,excellent,6 cylinders,gas,177000.0,clean,automatic,NaN,fwd,full-size,sedan,brown,Excellent condition everywhere. Runs and drive...,39.947697,-81.962020
6882503839,zanesville / cambridge,99,2013.0,ford,escape,good,4 cylinders,gas,85000.0,clean,automatic,NaN,fwd,NaN,NaN,NaN,IF YOU'RE LOOKING FOR A GREAT VEHICLE\n\nand y...,41.033400,-81.438500
6882447769,zanesville / cambridge,11000,2016.0,nissan,versa sv,excellent,other,gas,58000.0,clean,automatic,NaN,NaN,full-size,sedan,grey,Really good gas saver37 mg everything is power...,40.004951,-81.767695

In [75]:
# (3rd oldest) version 7 dataset

# create 'uid' column based on parse of 'url' column
vehicles_v7_df['uid'] = vehicles_v7_df['url'].apply(lambda x: x.split('.html')[0][-10:])

# drop: url/city_url/image_url
vehicles_v7_df.drop(columns='url',inplace=True)
vehicles_v7_df.drop(columns='city_url',inplace=True)
vehicles_v7_df.drop(columns='image_url',inplace=True)

# set 'uid' as index
vehicles_v7_df.set_index('uid')

,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,transmission,VIN,drive,size,type,paint_color,desc,lat,long
uid,,,,,,,,,,,,,,,,,,,
6931292701,"abilene, TX",3800,2009.0,hyundai,sonata,NaN,NaN,gas,NaN,clean,manual,NaN,NaN,NaN,NaN,NaN,"2009 Hyundai Sonata \n\n160,000 Miles\n2.4 Lit...",32.360559,-99.781394
6931290233,"abilene, TX",4500,2002.0,chevrolet,NaN,excellent,8 cylinders,gas,NaN,clean,automatic,NaN,NaN,NaN,NaN,red,My friend is selling her 2002 Chevy pick up tr...,32.579641,-99.663505
6931262371,"abilene, TX",1800,1993.0,ford,f150 4wd,good,8 cylinders,gas,119834.0,clean,automatic,NaN,4wd,full-size,pickup,brown,"1993 Ford F-150 4WD, 5.0 liter engine. passeng...",32.748900,-99.895300
6931165911,"abilene, TX",3500,2002.0,ford,f-150 xlt,good,8 cylinders,gas,161487.0,clean,automatic,NaN,rwd,full-size,pickup,white,2002 f150 extended cab two wheel drive. Triton...,32.235000,-99.824400
6931061391,"abilene, TX",16850,2015.0,chrysler,300,like new,6 cylinders,gas,90515.0,clean,automatic,2c3ccaag7fh899194,rwd,full-size,sedan,white,fender bender can see in picture only thing wr...,32.751906,-98.926882
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6909706108,zanesville / cambridge,33000,2015.0,NaN,Denali 1500 6.2 liter,like new,8 cylinders,gas,NaN,clean,automatic,NaN,4wd,NaN,NaN,white,"2015 GMC Denali 1500, 6.2 liter motor. Has 55k...",40.027000,-81.582000
6909468277,zanesville / cambridge,999,2011.0,ford,edge,good,6 cylinders,gas,85000.0,clean,automatic,NaN,4wd,NaN,NaN,NaN,IF YOU'RE LOOKING FOR A GREAT VEHICLE\n\n and ...,41.033400,-81.438500
6909457001,zanesville / cambridge,24994,2010.0,ford,f-250sd,excellent,NaN,gas,95265.0,clean,automatic,1FTSW2BR0AEB27754,4wd,NaN,pickup,NaN,Drive it home today. Call us now !!\t\tCall (o...,40.002865,-81.589523
6909456525,zanesville / cambridge,27600,2011.0,ford,f-350sd,excellent,NaN,gas,140946.0,clean,automatic,1FT8W3BTXBEB12997,4wd,NaN,pickup,NaN,Drive it home today. Call us now !!Call (or te...,40.002865,-81.589523
6909432796,zanesville / cambridge,199,2009.0,jeep,patriot,excellent,4 cylinders,gas,NaN,clean,automatic,NaN,4wd,compact,SUV,black,"Need a Car, Truck, Van or SUV Today?\n\nBut Ha...",40.059529,-82.953010

In [76]:
# (4th oldest) version 9 dataset

# create 'uid' column based on parse of 'url' column
vehicles_v9_df['uid'] = vehicles_v9_df['url'].apply(lambda x: x.split('.html')[0][-10:])

# drop: id/url/region_url/image_url/county/state
vehicles_v9_df.drop(columns='id',inplace=True)
vehicles_v9_df.drop(columns='url',inplace=True)
vehicles_v9_df.drop(columns='region_url',inplace=True)
vehicles_v9_df.drop(columns='image_url',inplace=True)
vehicles_v9_df.drop(columns='county',inplace=True)
vehicles_v9_df.drop(columns='state',inplace=True)

# rename: 'description' to 'desc'
vehicles_v9_df = vehicles_v9_df.rename(columns={'description':'desc'})

# set 'uid' as index
vehicles_v9_df.set_index('uid')

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,VIN,drive,size,type,paint_color,description,lat,long
uid,,,,,,,,,,,,,,,,,,,
7307730503,auburn,9500,2003.0,chrysler,town & country,excellent,6 cylinders,gas,30376.0,clean,automatic,NaN,fwd,mid-size,mini-van,blue,2003 Chrysler Town and Country Handicapped Acc...,32.614209,-85.326357
7307218858,auburn,28990,2018.0,gmc,acadia sle-2 sport utility,good,6 cylinders,gas,20736.0,clean,other,1GKKNLLS2JZ178034,fwd,NaN,other,white,Carvana is the safer way to buy a car During t...,32.590000,-85.480000
7307164168,auburn,16590,2013.0,lincoln,mkz sedan 4d,good,NaN,gas,61087.0,clean,other,3LN6L2G99DR819673,fwd,NaN,sedan,red,Carvana is the safer way to buy a car During t...,32.590000,-85.480000
7307164193,auburn,28990,2017.0,gmc,acadia slt-1 sport utility,good,6 cylinders,gas,18041.0,clean,other,1GKKNMLS2HZ305977,fwd,NaN,other,NaN,Carvana is the safer way to buy a car During t...,32.590000,-85.480000
7307142186,auburn,20590,2017.0,lincoln,mkz premiere sedan 4d,good,NaN,gas,36436.0,clean,other,3LN6L5A97HR666209,fwd,NaN,sedan,NaN,Carvana is the safer way to buy a car During t...,32.590000,-85.480000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7293621541,wyoming,23590,2017.0,infiniti,qx50 sport utility 4d,good,6 cylinders,gas,25738.0,clean,automatic,JN1BJ0RR8HM417266,NaN,NaN,hatchback,white,Carvana is the safer way to buy a car During t...,33.786500,-84.445400
7293621536,wyoming,16990,2017.0,buick,regal sport touring sedan,good,NaN,gas,36688.0,clean,other,2G4GL5EX5H9183790,fwd,NaN,sedan,black,Carvana is the safer way to buy a car During t...,33.786500,-84.445400
7293621577,wyoming,21590,2013.0,bmw,5 series 535i sedan 4d,good,NaN,other,44366.0,clean,automatic,WBAFR7C55DC825016,rwd,NaN,sedan,white,Carvana is the safer way to buy a car During t...,33.786500,-84.445400
7293621534,wyoming,26990,2016.0,bmw,4 series 435i gran coupe 4d,good,NaN,other,43934.0,clean,other,WBA4B1C55GG242905,NaN,NaN,coupe,black,Carvana is the safer way to buy a car During t...,33.786500,-84.445400
7293621515,wyoming,19990,2018.0,buick,envision preferred sport,good,NaN,gas,33104.0,clean,automatic,LRBFXBSA8JD060284,fwd,NaN,SUV,black,Carvana is the safer way to buy a car During t...,33.786500,-84.445400

In [78]:
# (most recent) version 10 dataset

# create 'uid' column based on parse of 'url' column
vehicles_v10_df['uid'] = vehicles_v10_df['url'].apply(lambda x: x.split('.html')[0][-10:])

# drop: id/url/region_url/image_url/county/state
vehicles_v10_df.drop(columns='id',inplace=True)
vehicles_v10_df.drop(columns='url',inplace=True)
vehicles_v10_df.drop(columns='region_url',inplace=True)
vehicles_v10_df.drop(columns='image_url',inplace=True)
vehicles_v10_df.drop(columns='county',inplace=True)
vehicles_v10_df.drop(columns='state',inplace=True)

# rename: 'description' to 'desc'
vehicles_v10_df = vehicles_v10_df.rename(columns={'description':'desc'})

# set 'uid' as index
vehicles_v10_df.set_index('uid')

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,VIN,drive,size,type,paint_color,description,lat,long,posting_date
uid,,,,,,,,,,,,,,,,,,,,
7222695916,prescott,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7218891961,fayetteville,11900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7221797935,florida keys,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7222270760,worcester / central MA,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7210384030,greensboro,4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7301591192,wyoming,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,gas,32226.0,clean,other,1N4AA6AV6KC367801,fwd,NaN,sedan,NaN,Carvana is the safer way to buy a car During t...,33.786500,-84.445400,2021-04-04T03:21:31-0600
7301591187,wyoming,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,NaN,gas,12029.0,clean,other,7JR102FKXLG042696,fwd,NaN,sedan,red,Carvana is the safer way to buy a car During t...,33.786500,-84.445400,2021-04-04T03:21:29-0600
7301591147,wyoming,34990,2020.0,cadillac,xt4 sport suv 4d,good,NaN,diesel,4174.0,clean,other,1GYFZFR46LF088296,NaN,NaN,hatchback,white,Carvana is the safer way to buy a car During t...,33.779214,-84.411811,2021-04-04T03:21:17-0600
7301591140,wyoming,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,gas,30112.0,clean,other,58ABK1GG4JU103853,fwd,NaN,sedan,silver,Carvana is the safer way to buy a car During t...,33.786500,-84.445400,2021-04-04T03:21:11-0600
7301591129,wyoming,30590,2019.0,bmw,4 series 430i gran coupe,good,NaN,gas,22716.0,clean,other,WBA4J1C58KBM14708,rwd,NaN,coupe,NaN,Carvana is the safer way to buy a car During t...,33.779214,-84.411811,2021-04-04T03:21:07-0600

In [79]:
print(f'VERSION 5:\n{vehicles_v5_df.columns.values}')
print(f'VERSION 6:\n{vehicles_v6_df.columns.values}')
print(f'VERSION 7:\n{vehicles_v7_df.columns.values}')
print(f'VERSION 9:\n{vehicles_v9_df.columns.values}')
print(f'VERSION 10:\n{vehicles_v10_df.columns.values}')

VERSION 5:
['city' 'price' 'year' 'manufacturer' 'make' 'condition' 'cylinders'
 'fuel' 'odometer' 'title_status' 'transmission' 'VIN' 'drive' 'size'
 'type' 'paint_color' 'lat' 'long' 'uid']
VERSION 6:
['city' 'price' 'year' 'manufacturer' 'make' 'condition' 'cylinders'
 'fuel' 'odometer' 'title_status' 'transmission' 'VIN' 'drive' 'size'
 'type' 'paint_color' 'desc' 'lat' 'long' 'uid']
VERSION 7:
['city' 'price' 'year' 'manufacturer' 'make' 'condition' 'cylinders'
 'fuel' 'odometer' 'title_status' 'transmission' 'VIN' 'drive' 'size'
 'type' 'paint_color' 'desc' 'lat' 'long' 'uid']
VERSION 9:
['region' 'price' 'year' 'manufacturer' 'model' 'condition' 'cylinders'
 'fuel' 'odometer' 'title_status' 'transmission' 'VIN' 'drive' 'size'
 'type' 'paint_color' 'description' 'lat' 'long' 'uid']
VERSION 10:
['region' 'price' 'year' 'manufacturer' 'model' 'condition' 'cylinders'
 'fuel' 'odometer' 'title_status' 'transmission' 'VIN' 'drive' 'size'
 'type' 'paint_color' 'description' 'lat' 'long' 'posting_date' 'uid']

<span style='color:cyan'>generate timestamp string for each of the datasets that do not already contain one</span>

- ```vehicles_v5_df['posting_date'] = '2018-10-31'```
    - date derived from content description at [link](https://www.kaggle.com/austinreese/craigslist-carstrucks-data/version/5)

- ```vehicles_v6_df['posting_date'] = '2019-06-09'```
    - date taken from version timestamp at [link](https://www.kaggle.com/austinreese/craigslist-carstrucks-data/version/6)

- ```vehicles_v7_df['posting_date'] = '2019-07-14'```
    - date taken from version timestamp at [link](https://www.kaggle.com/austinreese/craigslist-carstrucks-data/version/7)

<span style='color:cyan'>reminder that v8 didn't have any data associated with it's page</span>

- ```vehicles_v9_df['posting_date'] = '2021-04-19'```
    - date taken from version timestamp at [link](https://www.kaggle.com/austinreese/craigslist-carstrucks-data/version/9)

<span style='color:cyan'>reminder that v10 already has a 'posting_date' value for nearly all entries but the time needs to be stripped to include only the date</span>