# Pull a subset from the full dataset (*found in `raw_data_combined.csv`*)<br>for easier testing when parsing `desc` (*description*) values

## <font color=MediumSlateBlue>1) Import Libraries</font>

In [33]:
# Import libraries
import pandas as pd
from pathlib import Path

actually_save_csv = False

## <font color=MediumSlateBlue>2) Import Full Dataset for Slicing</font>

In [15]:
full_df = pd.read_csv(Path('./Resources/raw_data_combined.csv'), index_col='uid.1')

C:\Users\fsurl\.conda\envs\SQL\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1,5,21,22,23) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\fsurl\.conda\envs\SQL\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

## <font color=LightSalmon>3) Review Full Dataset</font>

### <font color=PaleGreen>3a) Check Column Names</font>

In [16]:
full_df.columns.values

array(['uid', 'city', 'price', 'year', 'manufacturer', 'make',
       'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'lat', 'long', 'posting_date', 'desc', 'region', 'model'],
      dtype=object)

### <font color=PaleGreen>3b) Check Column Types</font>

In [17]:
full_df.dtypes

uid               int64
city             object
price             int64
year            float64
manufacturer     object
make             object
condition        object
cylinders        object
fuel             object
odometer        float64
title_status     object
transmission     object
VIN              object
drive            object
size             object
type             object
paint_color      object
lat             float64
long            float64
posting_date     object
desc             object
region           object
model            object
dtype: object

## <font color=MediumSlateBlue>4) Slice Subset of Full Dataset</font>

### <font color=PaleGreen>4a) Slice the Full Dataset</font>

In [25]:
subset_df = full_df.iloc[:499]

### <font color=PaleGreen>4b) Review the New DataFrame</font>

In [26]:
subset_df

,uid,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,...,drive,size,type,paint_color,lat,long,posting_date,desc,region,model
uid.1,,,,,,,,,,,,,,,,,,,,,
6736984460,0,tricities,5000,1978.0,ford,bronco,NaN,NaN,gas,NaN,...,NaN,NaN,NaN,NaN,37.132840,-95.785580,2018-10-31,NaN,NaN,NaN
6716121500,1,tricities,5000,2008.0,buick,lucerne cxl v6,like new,6 cylinders,gas,51000.0,...,fwd,full-size,sedan,grey,35.777999,-83.612533,2018-10-31,NaN,NaN,NaN
6731405764,2,tricities,13500,2006.0,NaN,Pont GTO,excellent,8 cylinders,gas,93000.0,...,rwd,mid-size,coupe,red,36.333900,-82.340800,2018-10-31,NaN,NaN,NaN
6736958987,3,tricities,6200,2006.0,mercedes-benz,NaN,NaN,NaN,gas,NaN,...,NaN,NaN,NaN,NaN,36.000092,-84.018302,2018-10-31,NaN,NaN,NaN
6736964819,4,tricities,37900,2016.0,ford,f350,excellent,8 cylinders,diesel,70500.0,...,4wd,NaN,truck,white,36.272932,-82.537537,2018-10-31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6733493184,494,tricities,1200,2000.0,mazda,protege dx,fair,4 cylinders,gas,238183.0,...,fwd,compact,sedan,grey,36.256900,-82.690500,2018-10-31,NaN,NaN,NaN
6733491443,495,tricities,1600,2001.0,dodge,stratus 4-door,excellent,4 cylinders,gas,NaN,...,fwd,full-size,sedan,blue,36.344500,-82.201500,2018-10-31,NaN,NaN,NaN
6714905827,496,tricities,9800,1986.0,NaN,1986 K-5 BLAZER,excellent,8 cylinders,gas,NaN,...,4wd,full-size,NaN,blue,36.534539,-82.390944,2018-10-31,NaN,NaN,NaN
6733488415,497,tricities,2500,1999.0,chevrolet,silverado,fair,8 cylinders,gas,NaN,...,4wd,full-size,pickup,red,36.568600,-82.181900,2018-10-31,NaN,NaN,NaN
6728069531,498,tricities,9850,2017.0,nissan,versa,excellent,4 cylinders,gas,8717.0,...,fwd,compact,sedan,blue,36.344500,-82.201500,2018-10-31,NaN,NaN,NaN

### <font color=PaleGreen>4c) Drop Extra `uid` Column</font>

For reasons not understood as of this writing, there is an additional `uid` column present when `raw_data_combined.csv` is first imported: `uid` and `uid.1`

The desired `uid` column for our indexing purposes is in fact `uid.1` so:
1. Drop the incorrect `uid` column (`uid`) -- which is *not* the index
2. Rename the existing index from `uid.1` to  `uid`

In [28]:
# drop the `uid` column which is not the index
subset_df.drop(columns='uid', inplace=True)
# rename the existing index from `uid.1` to simply `uid`
subset_df.index.rename('uid', inplace=True)

C:\Users\fsurl\.conda\envs\SQL\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,...,drive,size,type,paint_color,lat,long,posting_date,desc,region,model
uid,,,,,,,,,,,,,,,,,,,,,
6736984460,tricities,5000,1978.0,ford,bronco,NaN,NaN,gas,NaN,clean,...,NaN,NaN,NaN,NaN,37.132840,-95.785580,2018-10-31,NaN,NaN,NaN
6716121500,tricities,5000,2008.0,buick,lucerne cxl v6,like new,6 cylinders,gas,51000.0,clean,...,fwd,full-size,sedan,grey,35.777999,-83.612533,2018-10-31,NaN,NaN,NaN
6731405764,tricities,13500,2006.0,NaN,Pont GTO,excellent,8 cylinders,gas,93000.0,clean,...,rwd,mid-size,coupe,red,36.333900,-82.340800,2018-10-31,NaN,NaN,NaN
6736958987,tricities,6200,2006.0,mercedes-benz,NaN,NaN,NaN,gas,NaN,rebuilt,...,NaN,NaN,NaN,NaN,36.000092,-84.018302,2018-10-31,NaN,NaN,NaN
6736964819,tricities,37900,2016.0,ford,f350,excellent,8 cylinders,diesel,70500.0,clean,...,4wd,NaN,truck,white,36.272932,-82.537537,2018-10-31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6733493184,tricities,1200,2000.0,mazda,protege dx,fair,4 cylinders,gas,238183.0,clean,...,fwd,compact,sedan,grey,36.256900,-82.690500,2018-10-31,NaN,NaN,NaN
6733491443,tricities,1600,2001.0,dodge,stratus 4-door,excellent,4 cylinders,gas,NaN,clean,...,fwd,full-size,sedan,blue,36.344500,-82.201500,2018-10-31,NaN,NaN,NaN
6714905827,tricities,9800,1986.0,NaN,1986 K-5 BLAZER,excellent,8 cylinders,gas,NaN,clean,...,4wd,full-size,NaN,blue,36.534539,-82.390944,2018-10-31,NaN,NaN,NaN
6733488415,tricities,2500,1999.0,chevrolet,silverado,fair,8 cylinders,gas,NaN,clean,...,4wd,full-size,pickup,red,36.568600,-82.181900,2018-10-31,NaN,NaN,NaN
6728069531,tricities,9850,2017.0,nissan,versa,excellent,4 cylinders,gas,8717.0,rebuilt,...,fwd,compact,sedan,blue,36.344500,-82.201500,2018-10-31,NaN,NaN,NaN

### <font color=PaleGreen>4d) Review the DataFrame</font>

In [29]:
subset_df

,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,...,drive,size,type,paint_color,lat,long,posting_date,desc,region,model
uid,,,,,,,,,,,,,,,,,,,,,
6736984460,tricities,5000,1978.0,ford,bronco,NaN,NaN,gas,NaN,clean,...,NaN,NaN,NaN,NaN,37.132840,-95.785580,2018-10-31,NaN,NaN,NaN
6716121500,tricities,5000,2008.0,buick,lucerne cxl v6,like new,6 cylinders,gas,51000.0,clean,...,fwd,full-size,sedan,grey,35.777999,-83.612533,2018-10-31,NaN,NaN,NaN
6731405764,tricities,13500,2006.0,NaN,Pont GTO,excellent,8 cylinders,gas,93000.0,clean,...,rwd,mid-size,coupe,red,36.333900,-82.340800,2018-10-31,NaN,NaN,NaN
6736958987,tricities,6200,2006.0,mercedes-benz,NaN,NaN,NaN,gas,NaN,rebuilt,...,NaN,NaN,NaN,NaN,36.000092,-84.018302,2018-10-31,NaN,NaN,NaN
6736964819,tricities,37900,2016.0,ford,f350,excellent,8 cylinders,diesel,70500.0,clean,...,4wd,NaN,truck,white,36.272932,-82.537537,2018-10-31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6733493184,tricities,1200,2000.0,mazda,protege dx,fair,4 cylinders,gas,238183.0,clean,...,fwd,compact,sedan,grey,36.256900,-82.690500,2018-10-31,NaN,NaN,NaN
6733491443,tricities,1600,2001.0,dodge,stratus 4-door,excellent,4 cylinders,gas,NaN,clean,...,fwd,full-size,sedan,blue,36.344500,-82.201500,2018-10-31,NaN,NaN,NaN
6714905827,tricities,9800,1986.0,NaN,1986 K-5 BLAZER,excellent,8 cylinders,gas,NaN,clean,...,4wd,full-size,NaN,blue,36.534539,-82.390944,2018-10-31,NaN,NaN,NaN
6733488415,tricities,2500,1999.0,chevrolet,silverado,fair,8 cylinders,gas,NaN,clean,...,4wd,full-size,pickup,red,36.568600,-82.181900,2018-10-31,NaN,NaN,NaN
6728069531,tricities,9850,2017.0,nissan,versa,excellent,4 cylinders,gas,8717.0,rebuilt,...,fwd,compact,sedan,blue,36.344500,-82.201500,2018-10-31,NaN,NaN,NaN

## <font color=MediumSlateBlue>5) Save Subset DataFrame to a CSV</font>

### <font color=PaleGreen>5a) Save the Subset DataFrame to a CSV</font>

In [35]:
if actually_save_csv:
    subset_df.to_csv(
        Path('./Resources/subset_for_testing.csv'),
        header=subset_df.columns.values,
        index_label='uid'
        )

### <font color=PaleGreen>5b) Read Back the New CSV File for Confirmation</font>

In [36]:
test_subset_df = pd.read_csv(
    Path('./Resources/subset_for_testing.csv'),
    index_col='uid'
)

### <font color=PaleGreen>5c) Review New DataFrame for Confirmation</font>

In [37]:
test_subset_df

,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,...,drive,size,type,paint_color,lat,long,posting_date,desc,region,model
uid,,,,,,,,,,,,,,,,,,,,,
6736984460,tricities,5000,1978.0,ford,bronco,NaN,NaN,gas,NaN,clean,...,NaN,NaN,NaN,NaN,37.132840,-95.785580,2018-10-31,NaN,NaN,NaN
6716121500,tricities,5000,2008.0,buick,lucerne cxl v6,like new,6 cylinders,gas,51000.0,clean,...,fwd,full-size,sedan,grey,35.777999,-83.612533,2018-10-31,NaN,NaN,NaN
6731405764,tricities,13500,2006.0,NaN,Pont GTO,excellent,8 cylinders,gas,93000.0,clean,...,rwd,mid-size,coupe,red,36.333900,-82.340800,2018-10-31,NaN,NaN,NaN
6736958987,tricities,6200,2006.0,mercedes-benz,NaN,NaN,NaN,gas,NaN,rebuilt,...,NaN,NaN,NaN,NaN,36.000092,-84.018302,2018-10-31,NaN,NaN,NaN
6736964819,tricities,37900,2016.0,ford,f350,excellent,8 cylinders,diesel,70500.0,clean,...,4wd,NaN,truck,white,36.272932,-82.537537,2018-10-31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6733493184,tricities,1200,2000.0,mazda,protege dx,fair,4 cylinders,gas,238183.0,clean,...,fwd,compact,sedan,grey,36.256900,-82.690500,2018-10-31,NaN,NaN,NaN
6733491443,tricities,1600,2001.0,dodge,stratus 4-door,excellent,4 cylinders,gas,NaN,clean,...,fwd,full-size,sedan,blue,36.344500,-82.201500,2018-10-31,NaN,NaN,NaN
6714905827,tricities,9800,1986.0,NaN,1986 K-5 BLAZER,excellent,8 cylinders,gas,NaN,clean,...,4wd,full-size,NaN,blue,36.534539,-82.390944,2018-10-31,NaN,NaN,NaN
6733488415,tricities,2500,1999.0,chevrolet,silverado,fair,8 cylinders,gas,NaN,clean,...,4wd,full-size,pickup,red,36.568600,-82.181900,2018-10-31,NaN,NaN,NaN
6728069531,tricities,9850,2017.0,nissan,versa,excellent,4 cylinders,gas,8717.0,rebuilt,...,fwd,compact,sedan,blue,36.344500,-82.201500,2018-10-31,NaN,NaN,NaN