# Parse the Description Column for Filling in Missing Data

## <font color=MediumSlateBlue>1) Import Libraries & File</font>

### <font color=PaleGreen>1a) Import Libraries</font>

In [1]:
import pandas as pd
from pathlib import Path

### <font color=PaleGreen>1b) Import Data Subset File</font>

In [2]:
df = pd.read_csv(Path('./Resources/subset_for_testing.csv'), index_col='uid')

### <font color=PaleGreen>1c) Review DataFrame from Import</font>

In [3]:
df

,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,...,drive,size,type,paint_color,lat,long,posting_date,desc,region,model
uid,,,,,,,,,,,,,,,,,,,,,
6736984460,tricities,5000,1978.0,ford,bronco,NaN,NaN,gas,NaN,clean,...,NaN,NaN,NaN,NaN,37.132840,-95.785580,2018-10-31,NaN,NaN,NaN
6716121500,tricities,5000,2008.0,buick,lucerne cxl v6,like new,6 cylinders,gas,51000.0,clean,...,fwd,full-size,sedan,grey,35.777999,-83.612533,2018-10-31,NaN,NaN,NaN
6731405764,tricities,13500,2006.0,NaN,Pont GTO,excellent,8 cylinders,gas,93000.0,clean,...,rwd,mid-size,coupe,red,36.333900,-82.340800,2018-10-31,NaN,NaN,NaN
6736958987,tricities,6200,2006.0,mercedes-benz,NaN,NaN,NaN,gas,NaN,rebuilt,...,NaN,NaN,NaN,NaN,36.000092,-84.018302,2018-10-31,NaN,NaN,NaN
6736964819,tricities,37900,2016.0,ford,f350,excellent,8 cylinders,diesel,70500.0,clean,...,4wd,NaN,truck,white,36.272932,-82.537537,2018-10-31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6733493184,tricities,1200,2000.0,mazda,protege dx,fair,4 cylinders,gas,238183.0,clean,...,fwd,compact,sedan,grey,36.256900,-82.690500,2018-10-31,NaN,NaN,NaN
6733491443,tricities,1600,2001.0,dodge,stratus 4-door,excellent,4 cylinders,gas,NaN,clean,...,fwd,full-size,sedan,blue,36.344500,-82.201500,2018-10-31,NaN,NaN,NaN
6714905827,tricities,9800,1986.0,NaN,1986 K-5 BLAZER,excellent,8 cylinders,gas,NaN,clean,...,4wd,full-size,NaN,blue,36.534539,-82.390944,2018-10-31,NaN,NaN,NaN
6733488415,tricities,2500,1999.0,chevrolet,silverado,fair,8 cylinders,gas,NaN,clean,...,4wd,full-size,pickup,red,36.568600,-82.181900,2018-10-31,NaN,NaN,NaN
6728069531,tricities,9850,2017.0,nissan,versa,excellent,4 cylinders,gas,8717.0,rebuilt,...,fwd,compact,sedan,blue,36.344500,-82.201500,2018-10-31,NaN,NaN,NaN