In [7]:
import pandas as pd
import sqlalchemy
from sqlalchemy import inspect
from pathlib import Path

In [9]:
# Create a sqlite database
database_connection_string = 'sqlite:///../Resources/combined_data.db'

In [10]:
# Create an engine to interact with the database
engine = sqlalchemy.create_engine(database_connection_string)

In [11]:
"""CREATE

The CREATE operation creates a new table in the database using the given DataFrame.
The table is replaced by the new data if it already exists.
"""
def create_table(engine, table_name, table_data_df):
    table_data_df.to_sql(table_name, engine, index=False, if_exists='replace')
"""READ

The READ operation will read the entire table from the database into a new DataFrame.
Then it will print the DataFrame.
"""
def read_table(engine, table_name):
    results_dataframe = pd.read_sql_table(table_name, con=engine)
    print(f"{table_name} Data:")
    print(results_dataframe)
"""UPDATE
    * In the `UPDATE` statement, include the `UPDATE`, `SET`, and `WHERE` SQL keywords.
    * Include the statement that calls the engine to execute the `UPDATE` statement.
"""
def update_data(engine, table_name, column, old_value, new_value):
    update_query=f"""
    UPDATE {table_name}
    SET {column} = {new_value}
    WHERE {column} = {old_value}
    """
    engine.execute(update_query)
"""DELETE
    * In the `DELETE` statement, include the `DELETE FROM` and `WHERE` SQL keywords.
    * Include the statement that calls the engine to execute the `DELETE` statement.
"""
def delete_data(engine, table_name, column, value):
    delete_query = f"""
    DELETE FROM {table_name}
    WHERE {column} = {value}
    """
    engine.execute(delete_query)