# Data Preparation

Clean the data and combine the five versions of the dataset together into a single CSV

## <font color=MediumSlateBlue>Step 1: Import Libraries</font>

In [1]:
# Import Libraries
from pathlib import Path
import pandas as pd

## <font color=MediumSlateBlue>Step 2: Import CSVs into DataFrames</font>

### <font color=PaleGreen>a) Identify paths to raw data</font>

In [4]:
# identify path to raw data
csvpath_v5 = Path('../raw_data/vehicles_v5.csv')
csvpath_v6 = Path('../raw_data/vehicles_v6.csv')
csvpath_v7 = Path('../raw_data/vehicles_v7.csv')
csvpath_v9 = Path('../raw_data/vehicles_v9.csv')
csvpath_v10 = Path('../raw_data/vehicles_v10.csv')

### <font color=PaleGreen>b) Load raw data into dataframes</font>

In [5]:
# load datasets into DataFrames
vehicles_v5_df = pd.read_csv(csvpath_v5)
vehicles_v6_df = pd.read_csv(csvpath_v6)
vehicles_v7_df = pd.read_csv(csvpath_v7)
vehicles_v9_df = pd.read_csv(csvpath_v9)
vehicles_v10_df = pd.read_csv(csvpath_v10)

## <font color=MediumSlateBlue>Step 3: Prepare Data for Analysis</font>

### <font color=PaleGreen>a) Create "**uid**" column for index by parsing "**url**" column</font>

In [6]:
# create 'uid' column based on parse of 'url' column
vehicles_v5_df['uid'] = vehicles_v5_df['url'].apply(lambda x: x.split('.html')[0][-10:])
vehicles_v6_df['uid'] = vehicles_v6_df['url'].apply(lambda x: x.split('.html')[0][-10:])
vehicles_v7_df['uid'] = vehicles_v7_df['url'].apply(lambda x: x.split('.html')[0][-10:])
vehicles_v9_df['uid'] = vehicles_v9_df['url'].apply(lambda x: x.split('.html')[0][-10:])
vehicles_v10_df['uid'] = vehicles_v10_df['url'].apply(lambda x: x.split('.html')[0][-10:])

### <font color=PaleGreen>b) Drop columns irrelevant to analysis</font>

In [7]:
# drop irrelevant columns from each version of the dataset

# (oldest) VERSION 5: url/image_url
vehicles_v5_df.drop(columns='url',inplace=True)
vehicles_v5_df.drop(columns='image_url',inplace=True)

# VERSION 6: url/city_url/image_url
vehicles_v6_df.drop(columns='url',inplace=True)
vehicles_v6_df.drop(columns='city_url',inplace=True)
vehicles_v6_df.drop(columns='image_url',inplace=True)

# VERSION 7: url/city_url/image_url
vehicles_v7_df.drop(columns='url',inplace=True)
vehicles_v7_df.drop(columns='city_url',inplace=True)
vehicles_v7_df.drop(columns='image_url',inplace=True)

# VERSION 9: id/url/region_url/image_url/county/state
vehicles_v9_df.drop(columns='id',inplace=True)
vehicles_v9_df.drop(columns='url',inplace=True)
vehicles_v9_df.drop(columns='region_url',inplace=True)
vehicles_v9_df.drop(columns='image_url',inplace=True)
vehicles_v9_df.drop(columns='county',inplace=True)
vehicles_v9_df.drop(columns='state',inplace=True)

# VERSION 10: id/url/region_url/image_url/county/state
vehicles_v10_df.drop(columns='id',inplace=True)
vehicles_v10_df.drop(columns='url',inplace=True)
vehicles_v10_df.drop(columns='region_url',inplace=True)
vehicles_v10_df.drop(columns='image_url',inplace=True)
vehicles_v10_df.drop(columns='county',inplace=True)
vehicles_v10_df.drop(columns='state',inplace=True)

### <font color=PaleGreen>c) Rename '**description**' column to '**desc**' in versions 9/10</font>

In [8]:
# rename 'description' to 'desc'
vehicles_v9_df = vehicles_v9_df.rename(columns={'description':'desc'})
vehicles_v10_df = vehicles_v10_df.rename(columns={'description':'desc'})

### <font color=PaleGreen>d) Set index to '**uid**' column</font>

In [9]:
# set 'uid' as index
vehicles_v5_df.set_index('uid', inplace=True)
vehicles_v6_df.set_index('uid', inplace=True)
vehicles_v7_df.set_index('uid', inplace=True)
vehicles_v9_df.set_index('uid', inplace=True)
vehicles_v10_df.set_index('uid', inplace=True)

## <font color=MediumSlateBlue>Step 4: Normalize Columns Across Versions of the Dataset</font>

### <font color=PaleGreen>a) Verify size of the versions of the dataset</font>

In [10]:
print(f'VERSION 5:\t{len(vehicles_v5_df.columns.values)} columns\n\n{vehicles_v5_df.columns.values}\n')
print(f'VERSION 6:\t{len(vehicles_v6_df.columns.values)} columns\n\n{vehicles_v6_df.columns.values}\n')
print(f'VERSION 7:\t{len(vehicles_v7_df.columns.values)} columns\n\n{vehicles_v7_df.columns.values}\n')
print(f'VERSION 9:\t{len(vehicles_v9_df.columns.values)} columns\n\n{vehicles_v9_df.columns.values}\n')
print(f'VERSION 10:\t{len(vehicles_v10_df.columns.values)} columns\n\n{vehicles_v10_df.columns.values}\n')

VERSION 5:	18 columns

['city' 'price' 'year' 'manufacturer' 'make' 'condition' 'cylinders'
 'fuel' 'odometer' 'title_status' 'transmission' 'VIN' 'drive' 'size'
 'type' 'paint_color' 'lat' 'long']

VERSION 6:	19 columns

['city' 'price' 'year' 'manufacturer' 'make' 'condition' 'cylinders'
 'fuel' 'odometer' 'title_status' 'transmission' 'VIN' 'drive' 'size'
 'type' 'paint_color' 'desc' 'lat' 'long']

VERSION 7:	19 columns

['city' 'price' 'year' 'manufacturer' 'make' 'condition' 'cylinders'
 'fuel' 'odometer' 'title_status' 'transmission' 'VIN' 'drive' 'size'
 'type' 'paint_color' 'desc' 'lat' 'long']

VERSION 9:	19 columns

['region' 'price' 'year' 'manufacturer' 'model' 'condition' 'cylinders'
 'fuel' 'odometer' 'title_status' 'transmission' 'VIN' 'drive' 'size'
 'type' 'paint_color' 'desc' 'lat' 'long']

VERSION 10:	20 columns

['region' 'price' 'year' 'manufacturer' 'model' 'condition' 'cylinders'
 'fuel' 'odometer' 'title_status' 'transmission' 'VIN' 'drive' 'size'
 'type' 'paint_color' 'desc' 'lat' 'long' 'posting_date']

### <font color=PaleGreen>b) Add missing columns to versions of the dataset</font>

In [11]:
# add timestamp from data versions were scraped

# data was scraped in October of 2018, unlike other dates was posted online November 21st 2018;
# assumption made to be last day of the month in October to cover entire month,
# but still listed to be October since only post stating date in content description
vehicles_v5_df['posting_date'] = '2018-10-31'
vehicles_v5_df['desc'] = None
vehicles_v6_df['posting_date'] = '2019-06-09'
vehicles_v7_df['posting_date'] = '2019-07-14'
vehicles_v9_df['posting_date'] = '2021-04-19'

### <span style='color:red'>**NOTES:**</span>

<span style='color:cyan'>*Generate Timestamp String:*</span>

- VERSION 5: date derived from content description [here](https://www.kaggle.com/austinreese/craigslist-carstrucks-data/version/5)

- VERSION 6: date taken from version timestamp at [here](https://www.kaggle.com/austinreese/craigslist-carstrucks-data/version/6)

- VERSION 7: date taken from version timestamp at [here](https://www.kaggle.com/austinreese/craigslist-carstrucks-data/version/7)

- VERSION 9: date taken from version timestamp at [here](https://www.kaggle.com/austinreese/craigslist-carstrucks-data/version/9)

<span style='color:orange'>**REMINDER:** *VERSION 8 didn't have any data associated with it*</span>

<span style='color:orange'>**REMINDER:** *VERSION 10 already contains 'posting_date' value for nearly all entries but the time needs to be stripped to include only the date*</span>

### <font color=PaleGreen>c) Verify size of each version of the dataset before creating 'raw_data_combined.csv'</font>

In [12]:
print(f'VERSION 5:\t{len(vehicles_v5_df.columns.values)} columns\n\n{vehicles_v5_df.columns.values}\n')
print(f'VERSION 6:\t{len(vehicles_v6_df.columns.values)} columns\n\n{vehicles_v6_df.columns.values}\n')
print(f'VERSION 7:\t{len(vehicles_v7_df.columns.values)} columns\n\n{vehicles_v7_df.columns.values}\n')
print(f'VERSION 9:\t{len(vehicles_v9_df.columns.values)} columns\n\n{vehicles_v9_df.columns.values}\n')
print(f'VERSION 10:\t{len(vehicles_v10_df.columns.values)} columns\n\n{vehicles_v10_df.columns.values}\n')

VERSION 5:	20 columns

['city' 'price' 'year' 'manufacturer' 'make' 'condition' 'cylinders'
 'fuel' 'odometer' 'title_status' 'transmission' 'VIN' 'drive' 'size'
 'type' 'paint_color' 'lat' 'long' 'posting_date' 'desc']

VERSION 6:	20 columns

['city' 'price' 'year' 'manufacturer' 'make' 'condition' 'cylinders'
 'fuel' 'odometer' 'title_status' 'transmission' 'VIN' 'drive' 'size'
 'type' 'paint_color' 'desc' 'lat' 'long' 'posting_date']

VERSION 7:	20 columns

['city' 'price' 'year' 'manufacturer' 'make' 'condition' 'cylinders'
 'fuel' 'odometer' 'title_status' 'transmission' 'VIN' 'drive' 'size'
 'type' 'paint_color' 'desc' 'lat' 'long' 'posting_date']

VERSION 9:	20 columns

['region' 'price' 'year' 'manufacturer' 'model' 'condition' 'cylinders'
 'fuel' 'odometer' 'title_status' 'transmission' 'VIN' 'drive' 'size'
 'type' 'paint_color' 'desc' 'lat' 'long' 'posting_date']

VERSION 10:	20 columns

['region' 'price' 'year' 'manufacturer' 'model' 'condition' 'cylinders'
 'fuel' 'odometer' 'title_status' 'transmission' 'VIN' 'drive' 'size'
 'type' 'paint_color' 'desc' 'lat' 'long' 'posting_date']

## <font color=MediumSlateBlue>Step 5: Output 'raw_data_combined.csv'</font>

### <font color=PaleGreen>a) Combine versions of the dataset into one</font>

In [13]:
# combine versions into single dataframe
all_dataframes = [
    vehicles_v5_df,
    vehicles_v6_df,
    vehicles_v7_df,
    vehicles_v9_df,
    vehicles_v10_df
]

raw_data_combined_df = pd.concat(all_dataframes, join='outer')

### <font color=PaleGreen>b) Verify size of the combined dataframe</font>

In [14]:
raw_data_combined_df

,city,price,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,...,drive,size,type,paint_color,lat,long,posting_date,desc,region,model
uid,,,,,,,,,,,,,,,,,,,,,
6736984460,tricities,5000,1978.0,ford,bronco,NaN,NaN,gas,NaN,clean,...,NaN,NaN,NaN,NaN,37.132840,-95.785580,2018-10-31,None,NaN,NaN
6716121500,tricities,5000,2008.0,buick,lucerne cxl v6,like new,6 cylinders,gas,51000.0,clean,...,fwd,full-size,sedan,grey,35.777999,-83.612533,2018-10-31,None,NaN,NaN
6731405764,tricities,13500,2006.0,NaN,Pont GTO,excellent,8 cylinders,gas,93000.0,clean,...,rwd,mid-size,coupe,red,36.333900,-82.340800,2018-10-31,None,NaN,NaN
6736958987,tricities,6200,2006.0,mercedes-benz,NaN,NaN,NaN,gas,NaN,rebuilt,...,NaN,NaN,NaN,NaN,36.000092,-84.018302,2018-10-31,None,NaN,NaN
6736964819,tricities,37900,2016.0,ford,f350,excellent,8 cylinders,diesel,70500.0,clean,...,4wd,NaN,truck,white,36.272932,-82.537537,2018-10-31,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7301591192,NaN,23590,2019.0,nissan,NaN,good,6 cylinders,gas,32226.0,clean,...,fwd,NaN,sedan,NaN,33.786500,-84.445400,2021-04-04T03:21:31-0600,Carvana is the safer way to buy a car During t...,wyoming,maxima s sedan 4d
7301591187,NaN,30590,2020.0,volvo,NaN,good,NaN,gas,12029.0,clean,...,fwd,NaN,sedan,red,33.786500,-84.445400,2021-04-04T03:21:29-0600,Carvana is the safer way to buy a car During t...,wyoming,s60 t5 momentum sedan 4d
7301591147,NaN,34990,2020.0,cadillac,NaN,good,NaN,diesel,4174.0,clean,...,NaN,NaN,hatchback,white,33.779214,-84.411811,2021-04-04T03:21:17-0600,Carvana is the safer way to buy a car During t...,wyoming,xt4 sport suv 4d
7301591140,NaN,28990,2018.0,lexus,NaN,good,6 cylinders,gas,30112.0,clean,...,fwd,NaN,sedan,silver,33.786500,-84.445400,2021-04-04T03:21:11-0600,Carvana is the safer way to buy a car During t...,wyoming,es 350 sedan 4d
7301591129,NaN,30590,2019.0,bmw,NaN,good,NaN,gas,22716.0,clean,...,rwd,NaN,coupe,NaN,33.779214,-84.411811,2021-04-04T03:21:07-0600,Carvana is the safer way to buy a car During t...,wyoming,4 series 430i gran coupe

### <font color=PaleGreen>c) Write combined dataframe to csv</font>

In [16]:
raw_data_combined_df.to_csv(
    Path('../Resources/raw_data_combined_v2.csv'),
    index_label='uid'
)